@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/mono/JetBrainsMono.woff2") format("woff2-variations");
  font-style: italic;
  font-display: swap;
  font-weight: 100 1000;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("font/linuxlibertine/LinLibertineBI.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-weight: 100 1000;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("font/linuxlibertine/LinLibertineZI.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("font/linuxlibertine/LinLibertineZ.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("font/linuxlibertine/LinLibertineI.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Linux Libertine Display";
  src: url("font/linuxlibertine/LinLibertineDisplay.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//     font-family: 'Linux Libertine Mono';
//     src: url('font/linuxlibertine/LinLibertine_M.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
  font-family: "Linux Libertine";
  src: url("font/linuxlibertine/LinLibertine.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//     font-family: 'Linux Libertine Initials';
//     src: url('font/linuxlibertine/LinLibertineI.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
  font-family: "Linux Libertine";
  src: url("font/linuxlibertine/LinLibertineB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
