@import "variables";

.footer {
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 2rem 2.4rem;
  flex-grow: 0;
  width: 100%;

  @media (max-width: $phone-max-width) {
    justify-content: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1em;
    color: var(--light-color-secondary);

    &--user {
      margin: auto;
      text-align: center;
    }

    &>a {
      opacity: 0.3;
      transition: opacity 0.2s ease-in-out;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }

      margin-right: 10px;
    }
  }



  .copyright-theme {
    @media (max-width: $tablet-max-width) {
      font-size: 0.75rem;
    }
  }
}