@import "variables";

@mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  height: 6rem;
  margin: 0 3rem;

  @media (max-width: $phone-max-width) {
    padding: 1.5rem;
    margin: 0;
  }

  ul {
    display: flex;

    padding: 40px 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

    @media (max-width: $phone-max-width) {
      padding: 0;
    }

    @media (min-width: 80rem) {
      position: fixed;
      flex-direction: column;
      gap: 0.2rem;
    }

    li {
      color: var(--color);
      font-size: 1.8rem;
      opacity: 0.3;
      transition: opacity 0.2s ease-in-out;

      a {
        text-decoration: none;
      }

      &:hover,
      &.active {
        opacity: 0.6;
      }
    }
  }
}
