@import "variables";

@mixin menu {
  position: absolute;
  background: var(--background);
  box-shadow: var(--shadow);
  color: white;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  list-style: none;
  z-index: 99;
}

.header {
  height: 6rem;
  margin-left: 45px;

  ul {
    padding: 40px 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      color: var(--color);
      font-size: 1.8rem;
      opacity: .3;
      transition: opacity 0.2s ease-in-out;

      a {
        text-decoration: none;
      }

      &:hover,
      &.active {
        opacity: 0.6;
      }
    }
  }
}