.logo {
  color: var(--accent);

  color: var(--accent);
  background: linear-gradient(123deg, #00ffe8 30%, #effbff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  display: flex;
  align-items: center;
  text-decoration: none;
}
