@import "variables";

.post-list > div.year {
  user-select: none;

  h2 {
    line-height: 1;
    margin-left: -0.3rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    margin: 0;
    line-height: 0.8;
    font-weight: 600;
  }

  &:not(:first-of-type) h2 {
    margin-top: 2rem;
  }
}

.posts {
  width: 100%;
  margin: 0 auto;
}

.toc__title {
  cursor: pointer;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  user-select: none;
}

ul.toc {
  margin-top: 0;
  margin-bottom: 0;
}

.post {
  width: 100%;
  text-align: left;
  padding: 20px 0;
  margin-bottom: 2rem;

  // @media (max-width: $tablet-max-width) {
  //   max-width: 660px;
  // }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  %meta {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--color);
    opacity: 0.8;
  }

  &-meta {
    @extend %meta;
  }

  &-meta-small {
    opacity: 0.7;
  }

  &-meta-inline {
    @extend %meta;

    display: inline;
  }

  &-title {
    position: relative;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;

    a {
      text-decoration: none;
    }
  }

  %tags {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  &-tags {
    @extend %tags;

    display: block;
  }

  &-tags-inline {
    @extend %tags;
    display: block;

    > a {
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }

    @media (max-width: $phone-max-width) {
      display: block;
    }
  }

  &-content {
    margin-top: 1rem;
  }

  &-cover {
    border: 20px solid var(--accent);
    background: transparent;
    margin: 40px 0;
    padding: 20px;

    @media (max-width: $phone-max-width) {
      padding: 10px;
      border-width: 10px;
    }
  }

  ul {
    list-style: none;

    > li > ul {
      margin-bottom: 0.5rem;
    }
  }

  ol {
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    > li {
      margin-bottom: 0.8rem;
    }

    > li > ol {
      margin-bottom: 0.5rem;
    }
  }
}

.post-date {
  font-variant: small-caps;
}

.post-list {
  margin: 0;

  > li {
    position: relative;
    margin-bottom: 0.7rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      .post-date {
        opacity: 0.9;
      }

      .post-list-title {
        opacity: 1;
      }

      .post-list-description {
        opacity: 1;
      }
    }
  }

  .post-date {
    color: #cecece;
    opacity: 0.7;
    text-decoration: none;
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
  }

  .post-list-title {
    text-decoration: underline;
    text-decoration-color: gray;
    opacity: 0.9;
  }

  .post-list-description {
    margin-top: 0.2rem;
    margin-bottom: 1.4rem;
    opacity: 0.6;
  }

  .post-tag {
    text-decoration: none;
    opacity: 0.4;
  }
}
