@font-face {
  font-family: "Linux Libertine";
  src: url("LinLibertineZ.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("LinLibertine.eot");
  src: url("LinLibertine.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("LinLibertineI.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Linux Libertine Mono";
  src: url("LinLibertine_M.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine Initials";
  src: url("LinLibertineI_1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("LinLibertineB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("LinLibertineZI.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Linux Libertine Display";
  src: url("LinLibertineDisplay.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine";
  src: url("LinLibertineBI.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
