{% macro head(config) %}
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="robots" content="noodp" />
<link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}">
<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=source-sans-pro:400,400i,600|space-mono:400,700,700i" rel="stylesheet" />
{% endmacro head %}