{% if src %}
  <figure class="{% if position %}{{ position }}{% else -%} center {%- endif %}{% if invert %} invert {% endif -%}{% if mixblend %} mixblend {% endif -%}" >
    {% if link %}
    <a href="{{ link | safe }}" target="_blank">
    {% endif %}
    
    {% set data = load_data(path=src, format="plain") %}
    {{ data | safe }}
    
    {% if link %}
    </a>
    {% endif %}

    {% if caption %}
      <figcaption class="{% if caption_position %}{{ caption_position }}{% else -%} center {%- endif %}"{% if caption_style %} style="{{ caption_style | safe }}"{% endif %}>{{ caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
